.cart-number {
    position: absolute;
    border: 2px solid;
    font-size: 10px;
    line-height: 11px;
    border-radius: 50%;
    height: 15px;
    width: 15px;
    text-align: center;
    top: -60%;
    left: 50%;
    color: black;
    transition: .3s;
}

.fa-shopping-cart {
    position: relative;
    font-size: 20px;
    cursor: pointer;
    transition: .3s;
}

.fa-shopping-cart:hover {
    color: #FF5757;
    transform: scale(1.1);
}
.fa-shopping-cart:hover .cart-number {
    color: #FF5757;
}

.user-name {
    display: flex;
    align-items: center;
    padding: 0px 10px;
    background-color: #ffffffa3;
    border-radius: 5px;
    box-shadow: 0px 0px 3px #ccc;
}

.NavLink {
    color: #000;
    transition: .3s;
    position: relative;
}

.NavLink:hover {
    color: #FF5757;
}

.NavLink::after {
    position: absolute;
    content: "";
    background-color: #FF5757;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 0%;
    transition: .3s;
    transform: translateY(5px);
}

.NavLink:hover::after{
    width: 100%;
    height: 8%;
}