.userChoose{
    background-image: url(../assets/images/mainbg.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.userChoose h1{
    color: white;
    font-size: 100px;
}
.userChoose a {
    color: red !important;
    font-weight: 600;
    transition: .3s;
}
.userChoose a:hover{
    color: #fff !important;
}